<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{{ROOT}}/index.html">CompuLab+</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ROOT}}/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ROOT}}/modelos.html">Modelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ROOT}}/sobre.html">Sobre el proyecto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
